<div class="box">
  <h1>Wybierz temat</h1>
  <div class="cards">
    <div class="card">
      <p class="title">The Basics</p>
      <p class="description">Core angular basics you have to know</p>
      <button class="learnMore" (click)="click1()">Learn More</button>
    </div>
    <div class="card">
      <p class="title">Components</p>
      <p class="description">
        Components are a core concept for building Angular UIs and apps
      </p>
      <button class="learnMore" (click)="click2()">Learn More</button>
    </div>
    <div class="card">
      <p class="title">Events</p>
      <p class="description">Events are important in Angular</p>
      <button class="learnMore" (click)="click3()">Learn More</button>
    </div>
  </div>
</div>
