body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 100vw;
    height: 100vh;
}

#playground {
    width: 50vw;
    height: 70vh;
    background-color: lightgray;
    border: solid darkgray 2px;
}

#object {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    transform: translate3d(100%, 100%, 0);
    transition: 1s ease-in-out;
}