.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #77b5e4;
}

.brandname {
  text-decoration: none;
  color: #3688ab;
  font-size: 50px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.basketAbove {
  transition: 1s;
  background-color: #6efd72;
}

.basketBelow {
  transition: 1s;
  background-color: #e73a5f;
}

.photoHolder {
  border-radius: 10px;
  width: 250px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.photo {
  width: 50px;
  height: 50px;
  padding: 20px;
}

p {
  font-size: 30px;
  color: #65000b;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.menu {
  font-size: 30px;
  color: #286e8b;
  transition: 0.3s;
}

.menu:hover {
  color: #5496b3;
  transition: 0.3s;
}

.panel {
  font-size: 30px;
  color: #286e8b;
  transition: 0.3s;
}

.panel:hover {
  color: #5496b3;
  transition: 0.3s;
}

.icons {
  display: flex;
}

.account {
  font-size: 30px;
  text-decoration: none;
  color: #286e8b;
}

.account-link {
  padding: 20px;
  text-decoration: none;
  color: blue;
  transition: 0.3s;
}

.account-link:hover {
  color:lightblue;
  transition: 0.3s;
}

.powitanie {
  font-size: 20px;
}

.signOut {
  font-size: 30px;
  padding: 20px;
  color: rgb(150, 29, 29);
  cursor: pointer;
  transition: 0.3s;
}

.signOut:hover {
  color: rgb(198, 102, 102);
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .brandname {
    font-size: 30px;
  }
  .menu {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .photoHolder {
    width: 180px;
    height: 50px;
  }
  .photoHolder p {
    font-size: 20px;
  }
  .photo {
    padding: 10px;
  }
}