@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: (#f9f5f9, #dbd7d9);
  font-family: Montserrat;
}
