.log {
    background-color: rgb(147, 170, 215);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log p{
    font-size: 20px;
    padding: 10px;
}