<div class="content">
    <p class="title">/ Super Wycieczki \ </p>
    <p class="descr">Na rynku od ponad 20lat!</p>
    <hr> <hr> <hr>
    <div class="photos">
        <picture class="photo"><img src="assets/photos/Brazylia.jpg"></picture>
        <picture class="mapa"><img src="assets/mapa.png"></picture>
        <picture class="photo photo1"><img src="assets/photos/Niemcy.jpg"></picture>
    </div>
    <div class="footer">
        <p><b>Adres: </b>Świętego Tomasza 21, <b>Telefon: </b>501 200 700, <b>Adres e-mail: </b>xyz@gmail.com</p>
    </div>
</div>
