.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    min-height: 10vh;
    height: auto;
    border: solid rgb(86, 185, 215) 3px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(125, 199, 174);
}

.photoId {
    font-size: 20px;
    color: rgb(21, 20, 20);
}

.albumId {
    font-size: 12px;
}

.title {
    font-size: 20px;
    color: rgb(25, 72, 183);
    font-weight: bold;
    text-align: center;
}